.container {
    background-color: rgb(255, 255, 255);
}
.make-model {
    text-transform: uppercase;    
}

.list button {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;
}

.list button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
}

.list_item {
    padding: 5px;
    border: 1px solid #e6e6e6;
}

p {
    text-transform: uppercase;
    background-color: lightgrey;
    padding: 6px;
}

td {
    text-transform: uppercase;
    padding: 6px;
    text-decoration: solid;
}

.detail {
    justify-content:left;
}
.car_detail {
    padding: 5px;
    border: 1px solid #e6e6e6;
    display: block;
}

.car-description {
    justify-content:center;
    padding-bottom: 15px;
    margin-bottom: 30px;
    float: left;
    font: 600 20px 'Open Sans', sans-serif;
    margin: 8px 0 0 0;
    line-height: 1;
    padding: 1px 0 1px 15px; 
}
.car-description p {
    border: 4px solid #6da8ec;
    background-color: #e0e0e0 !important;
}

.images{
    width: 300px;
    border-radius: 2em;
}

.b-searchBar{
    padding: 20px 0;
}