<div class="jumbotron">
    <h1 class="display-4 text-center">Vehiculos</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div class="text-center">
                Busca el Vehiculo de tu preferencia
            </div>
            <app-vehicle></app-vehicle>
        </div>
        <div class="col-md-7">
            <div class="text-center">
                Resultados de tu busqueda
            </div>
            <app-vehicle-list></app-vehicle-list>
        </div>
    </div>
</div>