<footer class="b-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="b-footer__company wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="b-nav__logo">
                        <h3><a href="home.html">SDM<span>Cars</span></a></h3>
                    </div>
                    <p>&copy; 2021 - Esta es una prueba para Santo Domingo Motors &amp; Powered by Raudo Moquete - New Era Dev.</p>
                </div>
            </div>
        </div>
    </div>
</footer>